:root {
  --primary-color: #004e63;
  --accent1-color: #027a80;  
  --heading-font: 'Georgia', serif;
  --body-font: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}


.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #004e63;
  padding: 16px;
  border-radius: 8px;
  width: 80%;
  left: 10%;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 8px;
}


footer {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social {
  display: flex;
  gap: 1rem;
}

.socialmedia a {
  text-decoration: none;
}


.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}


.adventures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.adventures figure {
  text-align: center;
}

.adventures img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.adventures h2 {
  grid-column: 1 / -1;
  text-align: center;
}
