*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    width: 80%; 
    margin: 0 auto; 
    margin-left: 0;
    max-width: 800px;
  }

  nav {
    background-color: #333; 
    padding: 10px;
  }
  
  nav a {
    color: #fff;           
    padding: 10px;          
    display: block;         
    text-decoration: none;  
  }
  

  h1 {
    color: #2c3e50;  
  }


  main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;      
    padding: 5px;                   
    box-shadow: 2px 2px 8px rgba(46, 45, 45, 0.3); 
  }
  
  
  

  
  aside {
    width: 300px;  
    margin: 20px auto; 
    border: 1px solid #ccc;
    padding: 15px;    
    background-color: #f9f9f9; 
    color: #333;       
  }
  

  aside {
    width: 300px;
    margin: 20px;      
    margin-left: 0;   
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333;
  }

  aside h2{
    top: 5px;

  }
  

  aside img {
    width: 200px;
    height: auto; 
  }


  main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
  }

  p{
    padding: 0;
  }
  

  footer {
    margin-top: 20px;          
    border-top: 2px solid #ccc; 
    text-align: center;        
    padding-top: 10px;          
  }
  

  /* Class Selector */

  .box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
  }



  
  